@charset "UTF-8";
/* CSS Document */

body{
	background:#FFF;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', 'sans-serif';
	font-size:14px;
	color:#000;
}
img{
	border:none;
}
.top-wrapper{
	padding:20px;
	background:#1673A4;
	color:#FFF;
	/*box-shadow:0 1px 2px 2px rgba(0,0,0,0.1);*/
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
	font-size:24px;
	vertical-align:central;
}
.top-nav-main{
	float:left;
	clear:both;
}
.top-nav-main ul{
	float:left;
	display:block;
	font-size:22px;
	font-family: 'Sorts Mill Goudy', 'serif';
}
.top-nav-main ul li{
	display:inline;
	color:#0657A2;
}
.top-nav-main ul li a{
	color: #FFF;
	margin: 0 14px 0 10px;
	text-decoration:none;
}
.top-nav-main ul li a:hover{
	color:#91D3EB;
}
.top-nav-main ul li:after{
	content: "•";
	font-size: 20px;
}
.top-nav-main ul li:last-child:after{
	content: "";
}
.top-nav-main ul li a {
	white-space: nowrap;
}
.wrapper{
	/*border:1px solid #F00;*/
	padding:20px;
	min-height:400px;
}
.content{
	/*border:1px solid #F00;*/
	width:700px;
	padding:20px;
	/*min-height:400px;*/
}
.content-banner{
	font-family: 'Sorts Mill Goudy', 'serif';
	color:#FC6;
	text-shadow: 1px 1px 1px #000;
	width:100%;
	padding-bottom:10px;
	border-bottom:1px dotted #444;
	font-size:36px;
	text-align:left;
}
.content-box{
	/*border:1px solid #099;*/
	width:100%;
	margin-top:20px;
}
.wallet-label{
   margin:10px;
}

/************** Break point ***************/





/* - Box Style - */
.box-main{
	padding:10px;
	width:98%;
	float:left;
	margin-bottom:10px;
	border:1px solid #CCC;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.box-title{
	width:98%;
	text-align:left;
	border-bottom:1px solid #CCC;
	padding-bottom:2px;
	font-family: 'Sorts Mill Goudy', 'serif';
	font-size:16px;
	font-weight:bold;
        line-height:35px;
}
.box-title a{
	color:#F33;
	font-size:14px;
	text-decoration:none;
}
.box-title a:hover{
	text-decoration:underline;
}
.box-row{
	width:98%;
	text-align:left;
	border-bottom:1px dotted #CCC;
	padding:18px 0;
	margin:4px 0;
	display:table;
	font-size:13px;
}
.box-row:last-child{
	border:none;
	margin-bottom:0;
}
.box-row-card{
	display:inline-block;
	margin-right:15px;
	width:288px;
	height:200px;
}
/* - End of Box Style - */

/* - Button Style - */
.btn{
	float:left;
	margin-right:10px;
	font-family: 'Sorts Mill Goudy', 'serif';
	color:#FFF;
	font-size:14px;
	min-width:100px;
	text-align:center;
	padding:5px 10px;
	border:1px solid #CCC;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.btn:hover{
	opacity: 0.9;
}
.btn-green{
	border-color:#060;
	background:#090;
}
#screen-query @media only screen and (max-width : 500px) {
	width: 100%;
}
#screen-query {
	width: 50%;
	border-right: 2px solid gray;
}
#button-add-card{
	float:right;
}
/* - End of Button Style - */

/* - Card Recommandation Style - */
.card-entry {
    display:inline-block;
    border: 2px solid blue;
    border-radius: 20px;
    margin: 10px;
    padding:5px;
	width:210px;
}
.card-image {
    width:200px;
}
.card-description {
}

/* - End of Card Recommandation Style - */

/* - Footer Style - */
.footer{
	padding:20px;
	background-color:#1673A4;
	color:#FFF;
	font-size:12px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
	margin-top:30px;
	line-height:1.5;
}

/* - End of Footer Style - */

/* - Min Style - */

/* - End of Min Style - */
