@charset "UTF-8";
/* CSS Document */

html{
	-webkit-text-size-adjust: none;
}
body{
	background:#FFF;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', 'sans-serif';
	font-size:14px;
	color:#000;
}
img{
	border:none;
}
.top-wrapper{
	padding:20px;
	background:#1673A4;
	color:#FFF;
	/*box-shadow:0 1px 2px 2px rgba(0,0,0,0.1);*/
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
	font-size:24px;
	vertical-align:central;
}
.top-nav-main{
	float:left;
	clear:both;
}
.top-nav-main ul{
	float:left;
	display:table-row;
	font-size:22px;
	font-family: 'Sorts Mill Goudy', 'serif';
}
.top-nav-main ul li{
	display:inline;
	color:#FFF;
}
.top-nav-main ul li a{
	color: #FFF;
	margin: 0 14px 0 10px;
	text-decoration:none;
}
.top-nav-main ul li a:hover{
	color:#91D3EB;
}
.top-nav-main ul li:after{
	content: "|";
	font-size: 20px;
}
.top-nav-main ul li:last-child:after{
	content: "";
}
.top-nav-main ul li a {
	white-space: nowrap;
}